.bicicletas-lista {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 10px 120px 10px;
}

.listas {
  display: flex;
  gap: 40px;
  max-width: 1400px;
  padding: 0 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.listas a {
  display: block;
}

.bicicletas-lista li {
  flex: 1;
  min-width: 280px;
}

.bicicletas-lista h3 {
  margin-top: 15px;
}

.listas span {
  padding-left: 20px;
  margin-top: 15px;
}

.bicicletas-lista h3 {
  display: flex;
  align-items: center;
}

.bicicletas-lista h3::before {
  content: "";
  display: inline-block;
  width: 12px;
  margin-right: 8px;
  height: 8px;
  background: #ffbb00;
  transition: linear 0.2s;
}

.bicicletas-lista a:hover h3::before {
  width: 25px;
}

@media (max-width: 800px) {

  .bicicletas-lista h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .bicicletas-lista {
    padding-bottom: 50px;
  }

}